# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
sqlite3.db
staticfiles/
media/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db
